#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary {
  height: fit-content;
}

#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

#form-section {
  background-color: var(--form-background-color);
}

#form-info {
  padding: clamp(1rem, 5%, 4rem);
}

.child-form,
.parent-form,
.radio-group,
#form {
  padding-top: 40px;
  padding-bottom: 80px;
}

.error-message {
  display: none;
}
.form-group:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}

input {
  padding: 0.5rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-bg-input);
}

input:focus {
  outline: 2px solid var(--color-headline-bg);
}

#form-section h2 {
  background-color: var(--color-headline-bg);
  color: var(--color-text-inverted);
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 1rem;
  margin: 0 0 0.5rem 0;
}

#form-section h3 {
  font-weight: var(--font-weight-bold);
  color: var(--color-text-inverted);
  background-color: var(--color-head-bg);
  margin: 5px 0;
  padding: 10px 15px;
  line-height: 1.3rem;
  text-align: left;
}

#summary-section {
  display: none;
}

#summary-section.visible {
  display: block;
  height: fit-content;
}
