/* LAYOUT FOR MAIN CONTENT */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}
main {
  display: grid;
  row-gap: 1rem;
}
main > *:not(:first-child) {
  margin: 0 1rem;
}
main {
  grid-template-rows: min-content min-content 1fr min-content;
}
#instruction main {
  grid-template-rows: min-content min-content min-content 1fr min-content;
}
/* LAYOUT FOR HEADER AND FOOTER */
footer {
  display: grid;
  gap: 10px;
}
header nav,
footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav > * {
  flex: 1;
}
nav ul {
  display: flex;
  justify-content: flex-end;
}
header ul {
  height: 100%;
  width: clamp(175px, 50%, 300px);
}
footer ul {
  flex-direction: column;
  padding-left: 1rem;
}

/* LAYOUT FOR SECTIONS */
#daily,
#breaking {
  display: grid;
}
#daily {
  grid-template-rows: repeat(2, minmax(200px, min-content));
  gap: 1rem;
}
#breaking {
  grid-template-rows: repeat(auto-fit, minmax(50px, min-content));
  gap: 0;
}

/* grid for inofrographics */
.grid_1-1-1-1-1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

/* layout for forms */
.child-form {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.parent-form {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.submit-form {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}

@media (min-width: 900px) {
  main > h1 {
    width: calc(80% - 6rem);
  }
}

@media (width > 600px) {
  #frontpage > main {
    grid-template-columns: 6fr 3fr;
    grid-template-rows: auto 1fr auto;
  }
  #instruction > main,
  #register > main {
    grid-template-columns: 5fr 3fr;
    grid-template-rows: auto auto 1fr auto;
  }

  .qr {
    order: 1;
  }

  h1 {
    grid-column: 1 / -1;
  }
  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 420px) {
  .popup > .popup_content {
    padding: 0.75rem;
    width: 94vw;
    border-radius: 6px;
  }
}
